.meow {
  background-color: rgb(0, 0, 0);
}
.guess {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100px;
  border: 2px solid rgb(235, 44, 44);
  background-color: wheat;
  color: rgb(251, 230, 230);
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 30px;
  background: #000 url("vivo52an.png") no-repeat center center;
  background-size: cover;
}
.again {
  border: 5px solid #024d79;
  width: 100px;
  height: 40px;
  margin: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-weight: 800;
  background-color: #ffeccc;
  color: #000000;
  font-family: "Orbitron", sans-serif;
}
.madeBy {
  display: flex;
  justify-content: right; /* Center horizontally */
  align-items: right; /* Center vertically */
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  font-size: small;
  color: beige;
}
form {
  display: flex;
  width: 140px;
  height: 60px;
  border: 2px solid rgba(114, 186, 231, 0.514);
  letter-spacing: 2px;
  margin: 40px auto; /* top/bottom | left/right */
  color: #564b38;
}
.win {
  margin: 40px; /* top/bottom | left/right */
  align-items: center; /* Center vertically */
  height: 50px;
  width: 250px;
  border: 2px solid rgb(68, 248, 182);
  color: #ffeccc;
}
.lose {
  align-items: center; /* Center vertically */
  height: 50px;
  width: 250px;
  border: 2px solid rgb(58, 101, 222);
  margin: 40px; /* top/bottom | left/right */
  color: #ffeccc;
}
